Inicio de proyecto:
- importacion de bibliotecas

In [55]:
import pandas as pd
import numpy as np
from scipy import stats as st
from functools import reduce
from matplotlib import pyplot as plt
import seaborn as sns

In [79]:
#importacion de archivo a trabajar 'games.csv' 
games_df = pd.read_csv('games.csv')
#Cambiando titulos de columnas a minusculas
games_df.columns = games_df.columns.str.lower()


#==========comprobacion datos antes de cambios==============
games_df.info()
print(games_df.isna().sum())

#============== retrabajos columnas================
#trabajo columna 'name'
    #Cambiar los Nan a 'Unknown'
games_df['name'].fillna('Unknown', inplace= True)
        
##trabajo columna 'year of release'
    #cambiar tipo de datos a int en lugar de float. 
games_df['year_of_release'].fillna(0.0, inplace= True)
games_df['year_of_release'] = games_df['year_of_release'].astype(int)

#trabajo columna 'genre'
games_df['genre'].fillna('Unknown', inplace= True)

#trabajo columna 'critic_score'
games_df['critic_score'].fillna(0.0, inplace=True)

#trabajo columna 'user_score' 
games_df['user_score'].fillna(0.0, inplace=True)
        #Tambien se va a cambiar el score TBD debido a que sigue en discusion, por lo tanto no tiene un score aun, por lo tanto es 0 para fines estadisticos
        #se hara una nota donde se explica que algunos user_score siguen en deliberacion para justificar ciertos numeros\
games_df['user_score'].replace('tbd', 0.0, inplace=True)
games_df['user_score'] = games_df['user_score'].astype(float)
display(games_df[(games_df['user_score']=='tbd')])

#trabajo columna 'rating' 
games_df['rating'].fillna('NR', inplace=True)

#Columna de ventas totales
games_df['total_sales'] = games_df['na_sales']+games_df['jp_sales']+games_df['eu_sales']

#=============comprobacion datos despues de cambios =========
display(games_df.sample(5))
games_df.info()
print(games_df.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16713 non-null  object
 1   platform         16715 non-null  object
 2   year_of_release  16446 non-null  float64
 3   genre            16713 non-null  object
 4   na_sales         16715 non-null  float64
 5   eu_sales         16715 non-null  float64
 6   jp_sales         16715 non-null  float64
 7   other_sales      16715 non-null  float64
 8   critic_score     8137 non-null   float64
 9   user_score       10014 non-null  object
 10  rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB
name                  2
platform              0
year_of_release     269
genre                 2
na_sales              0
eu_sales              0
jp_sales              0
other_sales           0
critic_score       8578
user_score         6701
rating             6766
dtype: int64

Empty DataFrame
Columns: [name, platform, year_of_release, genre, na_sales, eu_sales, jp_sales, other_sales, critic_score, user_score, rating]
Index: []

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating,total_sales
9985,F1 2002,PS2,2002,Racing,0.05,0.04,0.02,0.01,81.0,6.4,E,0.11
8239,Gretzky NHL 2005,PS2,2004,Sports,0.08,0.07,0.00,0.02,66.0,9.1,E,0.15
6330,Shadow Man,N64,1999,Action,0.18,0.08,0.00,0.01,0.0,0.0,NR,0.26
16483,Petz: Hamsterz Life 2,GBA,2007,Misc,0.01,0.00,0.00,0.00,0.0,0.0,NR,0.01
6220,Deer Hunter,PS2,2003,Sports,0.14,0.11,0.00,0.04,0.0,8.5,T,0.25

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16715 non-null  object
 1   platform         16715 non-null  object
 2   year_of_release  16715 non-null  int64
 3   genre            16715 non-null  object
 4   na_sales         16715 non-null  float64
 5   eu_sales         16715 non-null  float64
 6   jp_sales         16715 non-null  float64
 7   other_sales      16715 non-null  float64
 8   critic_score     16715 non-null  float64
 9   user_score       16715 non-null  float64
 10  rating           16715 non-null  object
 11  total_sales      16715 non-null  float64
dtypes: float64(7), int64(1), object(4)
memory usage: 1.5+ MB
name               0
platform           0
year_of_release    0
genre              0
na_sales           0
eu_sales           0
jp_sales           0
other_sales        0
critic_score       0
user_score         0
rating             0
total_sales        0
dtype: int64